[Unit]
Description=Docker Service Registry
After=docker.service

[Service]
TimeoutStartSec=0
EnvironmentFile=/etc/environment

ExecStartPre=-/usr/bin/docker kill registrator
ExecStartPre=-/usr/bin/docker rm registrator
ExecStartPre=/usr/bin/docker pull gliderlabs/registrator:latest
ExecStart=/usr/bin/docker run --name registrator \
  -v /var/run/docker.sock:/tmp/docker.sock \
  -h ${COREOS_PRIVATE_IPV4} gliderlabs/registrator:latest \
  -ttl 30 -ttl-refresh 20 \
  etcd://${COREOS_PRIVATE_IPV4}:4001/services
ExecStop=/usr/bin/docker stop registrator

[X-Fleet]
Global=true
